@import "tailwindcss";

:root {
  --ivoire: #F8F4E9;
  --ardoise: #1B0A00;
  --terracotta: #A44B34;
  --ormat: #CA9D44;
  --sauge: #B0B985;

  color-scheme: light;
  /* désactive l'effet automatique "dark mode" du navigateur */
}

@theme inline {
  --color-background: var(--ivoire);
  --color-foreground: var(--ardoise);
  --color-terracotta: var(--terracotta);
  --color-ormat: var(--ormat);
  --color-sauge: var(--sauge);
  --font-title: var(--font-cormorant);
  --font-body: var(--font-raleway);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-body);
}